{% extends "base.html" %}

{% block content %}

<form class="form" method="GET" action=".">
    <div style="width: 100%; height: 150px;">
        <div class="form-group">
            <label for="formGroupExampleInput">남자</label>
            <input type="text" class="form-control male_input" id="formGroupExampleInput" placeholder="남자사용자 이름" name="male"  value="{{ request.GET.male }}">
        </div>
        <div class="form-group">
            <label for="formGroupExampleInput2">여자</label>
            <input type="text" class="form-control female_input" id="formGroupExampleInput2" placeholder="여자사용자 이름" name="female" value="{{ request.GET.female }}">
        </div>
    </div>
    <div id="search_btn">
        <button type="submit" class="btn btn-dark">결과조회</button>
    </div>
</form>


{% if results.error|truncatechars:10 == "True" %}
<div class="alert alert-danger" role="alert">
  남자 사용자와 여자 사용자를 입력한 다음 조회버튼을 눌러주세요!
</div>
{% else %}
<div class="card" style="width: 100%;">
    <div class="card-body">
        <h5 class="card-title">{{ results.male }}님과 {{ results.female }}님의 조회 결과 입니다.</h5>
        <p class="card-text">
            {{ results.diff }} <br/>
            {{ results.distance }} <br/>
            {{ results.hobbys }} <br/>
            {{ results.fulfilled }} <br/>
        </p>
    </div>
</div>
{% endif %}


{% include './snippets/list_css.html' %}
<div class="male_profile">
    <h3>남자 프로필</h3>
    {% for male in males %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ male.name }}님</h5>
            <p class="card-text">
                생년월일 : {{ male.birthday }} <br/>
                키 : {{ male.height }}cm <br/>
                직업 : {{ male.job }} <br/>
                위치 : {{ male.location }} <br/>
                취미 : {{ male.hobbys }} <br/>
                {% if male.is_fulled|truncatechars:10 == 'False' %}
                군필여부 : 미필
                {% else %}
                군필여부 : 군필
                {% endif %}
            </p>
            <a href="#" class="btn btn-primary male">선택하기</a>
        </div>    
    </div>
    {% endfor %}
</div>

<div class="female_profile">
    <h3>여자 프로필</h3>
    {% for female in females %}
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{ female.name }}님</h5>
        <p class="card-text">
            생년월일 : {{ female.birthday }} <br/>
            키 : {{ female.height }}cm <br/>
            직업 : {{ female.job }} <br/>
            위치 : {{ female.location }} <br/>
            취미 : {{ female.hobbys }} <br/>
        </p>
        <a href="#" class="btn btn-primary female">선택하기</a>
      </div>
    </div>
{% endfor %}
</div>

{% include './snippets/list_js.html' %}
{% endblock content %}
