<style type="text/css">
    .card{
        float: left;
        margin-top:10px;

    }
    .male_profile{
        width:50%;
        float: left;
        margin-top:50px;
    }
    .female_profile{
        width:50%;
        float: left;
        margin-top:50px;
    }
    .form-group{
        width:40%;
        margin-top:30px !important;
        margin:0px 5%;
        float: left;
    }
    #search_btn{
        float:right;
    }
    .alert.alert-danger{
        margin-top:50px;
    }
    .map {
        height: 150px;
        width: 100%;
        margin-bottom: 10px;
    }
</style>